.todo-list {
  list-style: none;
  position: relative;
}

.todo-list:after {
  content: "";
  height: 100%;
  position: absolute;
  width: 1px;
  background-color: #000;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  z-index: -1;
}